.search-input {
  width: 300px;
  margin: 20px auto 5px;
}

.search-row {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.p-autocomplete-input {
  width: 400px;
  margin: 0 auto;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 15px;
  background-color: #eee;
}

.p-autocomplete-panel {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #eee;
}

.p-autocomplete-items .p-autocomplete-item {
  padding: 5px;
  transition: 0.5s;
}

.p-autocomplete-items .p-autocomplete-item:hover {
  margin-left: 10px;
}

.btn-search-row {
  display: flex;
  justify-content: center;
}

.btn-search {
  color: #eee;
  background-color: #465c88;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  font-size: 15px;
  font-weight: 700;
}

.btn-search:hover {
  background-color: #113f67;
  cursor: pointer;
}

/* .toast {
  color: #eee;
  background-color: red;
  padding: 20px;
} */
