.current-weather-card {
  width: 400px;
  height: 310px;
  background-color: #1b3c53;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  background-image: url("/public/images/clouds-new.jpg");
  background-size: cover;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.current-weather-card .row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.current-weather-card .card-down-row {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.current-weather-card .row .col {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}

.current-weather-card h3 {
  color: #eee;
  margin-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 180px;
}

.current-weather-card h1 {
  color: #eee;
  font-weight: 800;
  font-size: 80px;
}

.current-weather-card h2 {
  /* font-size: 20px; */
  color: #eee;
  font-weight: 800;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 180px;
}

.current-weather-card .card-down-row .rounded-col {
  width: 50px;
  height: 100px;
  background-color: #eee;
  margin-top: 20px;
  /* margin-left: 20px; */
  border-radius: 50px;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 5px; */
  padding: 10px;
}

.rounded-col img {
  width: 40px;
}

.rounded-col h4 {
  font-weight: 800;
  font-size: 15px;
}

.rounded-col h5 {
  font-weight: 800;
  font-size: 15px;
  margin-top: 5px;
}

@media (max-width: 500px) {
  .current-weather-card {
    width: 400px;
    height: 350px;
  }

  .current-weather-card .row {
    gap: 10px;
  }

  .current-weather-card .card-down-row .rounded-col {
    width: 50px;
  }
}
